<div class="wrapper">
    <header>
        <nav>
            <a href="/signedin">Home</a>
            <a href="/posted">Dashboard</a>
            <button id="logout" class="btn-no-style">Logout</button>
        </nav>
        <h1>
            <a href="/signedin">The Tech Blog</a>
        </h1>
    </header>
    <main>
        <ol class="post-list">
        {{#each posts as |post|}}
        <li>
            <article class="post">
                <div class="title">
                    <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
                    <span>({{post.post_url}})</span>
                </div>
                <div class="meta">
                    by {{post.user.username}} on with detailed description: {{post.text}}
                    {{post.created_at}}

                    <a href="/post/{{id}}">{{post.comments.length}} comment(s)</a>
                </div>
            </article>
        </li>
        {{/each}}
        </ol>
    </main>
</div>
<script src="javascript/logout.js"></script>